[
    {
        "baseUrl": "",
        "scrapperPath": "/api/full",
        "statusPath": "/api/status",
        "token": ""
    },
    {
        "baseUrl": "",
        "scrapperPath": "/api/full",
        "statusPath": "/api/status",
        "token": ""
    }
]